.vscode/
.vs/
cache
temp/
.cache/
.venv/
__pycache__/
env/
output/fsp/
output/lms
output/lms/star_coupler_varFDTD_o1.lms
simulations/
output/
build/oas/
components/__pycache__/star_coupler.cpython-311.pyc
