.vscode/
.vs/
cache
temp/
.cache/
.venv/
__pycache__/
env/
star_coupler_NI3_NO4_PI10_PO10_AITrue_AOTrue_TL40_TW3_W_5f4bbe87_lum/
star_coupler_NI3_NO4_PI5p26_PO3p55_AITrue_AOTrue_TL40_T_c3033547_lum/
output/fsp/